.homePage{
    width: 100%;
    height: 100%;
    background: url(../Images/HomePageImages/BackgroundHomePage.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    font-family: "El Messiri";
}

.overlayTopbar{
    width: 100%;
    height: 5.5vw;
    position: absolute;
    top: 0;
    background-color: rgba(72, 72, 72, 0.6);
    background-image: 
        linear-gradient(225deg, rgba(72, 72, 72, 0.6) 0%,
                                rgba(160, 160, 160, 0.6) 20%, 
                                rgba(72, 72, 72, 0.6) 40%, 
                                rgba(160, 160, 160, 0.6) 60%, 
                                rgba(72, 72, 72, 0.6) 80%, 
                                rgba(160, 160, 160, 0.6) 100%);
}

.topbar{
    width: 100%;
    height: 5vw;
    position: absolute;
    top: 0;
    background: url(../Images/HomePageImages/BackgoundTopbarHomePage.jpg) no-repeat center;
    background-size: cover;
}

.logo{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow( 0.2vw 0.2vw 0.2vw black);
}

.sideDecorationLeft{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow( 0 0 0.3vw black);
    transform: scaleX(-1);
    z-index: 20;
}

.sideDecorationRight{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow( 0 0 0.3vw black);
    z-index: 20;
}

.overlayBlockButtonLeft{
    width: 25%;
    height: 86%;
    position: absolute;
    top: 12.5%;
    left: 10%;
    background-color: rgba(72, 72, 72, 0.6);
    background-image: 
        linear-gradient(225deg, rgba(72, 72, 72, 0.6) 0%,
                                rgba(160, 160, 160, 0.6) 20%, 
                                rgba(72, 72, 72, 0.6) 40%, 
                                rgba(160, 160, 160, 0.6) 60%, 
                                rgba(72, 72, 72, 0.6) 80%, 
                                rgba(160, 160, 160, 0.6) 100%);
    border-radius: 2vw;
}

.overlayBlockButtonRight{
    width: 25%;
    height: 86%;
    position: absolute;
    top: 12.5%;
    right: 10%;
    background-color: rgba(72, 72, 72, 0.6);
    background-image: 
        linear-gradient(225deg, rgba(72, 72, 72, 0.6) 0%,
                                rgba(160, 160, 160, 0.6) 20%, 
                                rgba(72, 72, 72, 0.6) 40%, 
                                rgba(160, 160, 160, 0.6) 60%, 
                                rgba(72, 72, 72, 0.6) 80%, 
                                rgba(160, 160, 160, 0.6) 100%);
    border-radius: 2vw;
}

.backgroundBlockButton{
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2vw;
    text-align: center;
    color: silver;
    position: relative; 
    margin: 0;
}

.backgroundBlockButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(
            180deg, 
            rgba(67, 79, 146, 0.4) 0%,    
            rgba(67, 79, 146, 0.4) 100%
        ),
        url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover;
    background-blend-mode: normal;
    border-radius: 2vw;
    opacity: 0.8;
    z-index: -1; 
    margin: 0;
}

.overlayBlockText{
    width: 25%;
    height: 86%;
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(72, 72, 72, 0.6);
    background-image: 
        linear-gradient(225deg, rgba(72, 72, 72, 0.6) 0%,
                                rgba(160, 160, 160, 0.6) 20%, 
                                rgba(72, 72, 72, 0.6) 40%, 
                                rgba(160, 160, 160, 0.6) 60%, 
                                rgba(72, 72, 72, 0.6) 80%, 
                                rgba(160, 160, 160, 0.6) 100%);
    border-radius: 2vw;
}

.backgroundBlockText{
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2vw;
    text-align: center;
    color: silver;
    position: relative; 
    margin: 0;
}

.backgroundBlockText::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(
            180deg, 
            rgba(67, 79, 146, 0.4) 0%,    
            rgba(67, 79, 146, 0.4) 100%
        ),
        url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover;
    background-blend-mode: normal;
    border-radius: 2vw;
    opacity: 0.8;
    z-index: -1; 
    margin: 0;
}

.backgroundBlockText h1{
    font-size: 2vw;
    margin: 0;
    padding-top: 3%;
}

.backgroundBlockText p{
    font-size: 1.2vw;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    z-index: 20;
}

.buttonRaces{
    width: 20vw;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2vw;
    border: solid 0.2vw gray;
    cursor: pointer;
    background: 
        linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0.5) 0%, 
            rgba(200, 0, 0, 0.5) 50%, 
            rgba(0, 0, 0, 0.5) 100%
        ),
        url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
    font-size: 1.5vw;
    font-family: "El Messiri";
    font-weight: bold;
    color: silver;
    opacity: 1;
    text-align: center;
    margin: 0;
}

.buttonRaces h1{
    margin: 0;
    -webkit-text-stroke: 0.05vw black;
}

.buttonRaces:hover {
    background: 
        linear-gradient(
            180deg, 
            rgba(0, 0, 0, 0.5) 0%, 
            rgba(200, 0, 0, 0.5) 50%, 
            rgba(0, 0, 0, 0.5) 100%
        ),
        url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
}

.buttonRaces:hover .content{
    max-height: 1500px;
}

.buttonFactions{
    width: 20vw;
    position: absolute;
    top: 2.5%;
    left: 50%;
    border-radius: 2vw;
    transform: translateX(-50%);
    border: solid 0.2vw gray;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 158, 12, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
    font-size: 1.5vw;
    font-family: "El Messiri";
    font-weight: bold;
    color: silver;
    opacity: 1;
    text-align: center;
    margin: 0;
}

.buttonFactions h1{
    -webkit-text-stroke: 0.05vw black;
    margin: 0;
}

.buttonFactions:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 158, 12, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
}

.buttonFactions:hover .content{
    max-height: 2500px;
}

.buttonEvents{
    width: 20vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2vw;
    border: solid 0.2vw gray;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(158, 118, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
    font-size: 1.5vw;
    font-family: "El Messiri";
    font-weight: bold;
    color: silver;
    opacity: 1;
    text-align: center;
    margin: 0;
}

.buttonEvents h1{
    -webkit-text-stroke: 0.05vw black;
    margin: 0;
    font-size: 3vw;
}

.buttonEvents:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(158, 118, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
}

.buttonEvents:hover .content{
    max-height: 450px;
}

.contentButton{
    width: 20vw;
    height: 4.5vw;
    font-size: 1vw;
    text-align: center;
    line-height: 4.5vw;
}

.contentButton:hover{
    color: goldenrod;
    filter: drop-shadow( 0 0 0.2vw goldenrod);
}

.contentButton img{
    width: 2.5vw;
    float: left;
    margin: 0;
    margin-left: 5%;
    margin-top: 5%;
    filter: drop-shadow( 0 0 0.2vw black);
}

.historyButton{
    width: 20vw;
    height: 4vw;
    position: absolute;
    top: 87.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2vw;
    border: solid 0.2vw gray;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgb(0, 69, 158, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
    font-size: 1vw;
    font-family: "El Messiri";
    font-weight: bold;
    color: silver;
    opacity: 1;
    text-align: center;
    margin: 0;
}

.historyButton h1{
    -webkit-text-stroke: 0.05vw black;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
}

.historyButton:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 94, 218, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
}

.historyButton img{
    width: 2.5vw;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    filter: drop-shadow( 0 0 0.2vw black);
}

.emptinessButton{
    width: 20vw;
    height: 4vw;
    position: absolute;
    top: 87.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2vw;
    border: solid 0.2vw gray;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(87, 39, 119, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
    font-size: 1vw;
    font-family: "El Messiri";
    font-weight: bold;
    color: silver;
    opacity: 1;
    text-align: center;
    margin: 0;
}

.emptinessButton h1{
    -webkit-text-stroke: 0.05vw black;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
}

.emptinessButton:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(126, 55, 173, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url(../Images/Textures/BackgroundButtons.jpg);
    background-size: cover, cover;
    background-blend-mode: normal;
}

.emptinessButton img{
    width: 2.5vw;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    filter: drop-shadow( 0 0 0.2vw black);
}
