.pageConfederationOfTribes{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/ConfederationImages/BackgroundPageConfederation.jpg) no-repeat;
    background-size: cover;
}

.pageKingdomInmar{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/InmarImages/BackgroundPageInmar.jpg) no-repeat;
    background-size: cover;
}

.pageHumanRaces{
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(../Images/InmarImages/BackgroundPageHuman.jpg) no-repeat;
    background-size: cover;
}

.overlayTopbar{
    width: 100%;
    height: 5.5vw;
    position: absolute;
    top: 0;
    background: 
        linear-gradient(225deg, 
            rgba(72, 72, 72, 0.6) 0%,
            rgba(160, 160, 160, 0.6) 100%);
    background-size: 200% 200%;
    animation: shine 15s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0% 0%;
    }
    5%{
        background-position: 100% 100%;
    }
    10%{
        background-position: 0% 0%;
    }
    15%{
        background-position: 100% 100%;
    }
    20%{
        background-position: 0% 0%;
    }
    25%{
        background-position: 100% 100%;
    }
    30%{
        background-position: 0% 0%;
    }
    35%{
        background-position: 100% 100%;
    }
    40%{
        background-position: 0% 0%;
    }
    45%{
        background-position: 100% 100%;
    }
    50%{
        background-position: 0% 0%;
    }
    55%{
        background-position: 100% 100%;
    }
    60%{
        background-position: 0% 0%;
    }
    65%{
        background-position: 100% 100%;
    }
    70%{
        background-position: 0% 0%;
    }
    75%{
        background-position: 100% 100%;
    }   
    80%{
        background-position: 0% 0%;
    }
    85%{
        background-position: 100% 100%;
    }
    90%{
        background-position: 0% 0%;
    }
    95%{
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}   

.star{
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: 0vw;
    left: 0%;
    z-index: 15;
    margin: 0;
    animation: star 10s infinite cubic-bezier(0.5, 0, 0.2, 1);
}

@keyframes star {
    0%{
      left: 0%;
      width: 0.5vw;
      height: 0.5vw;
      filter: drop-shadow(0 0 0 white);
      bottom: 0.2vw;
    }
    100%{
       left: 120%; 
       width: 3vw;
       height: 3vw;
       bottom: -0.9vw;
       transform: rotate(700deg);
       filter: drop-shadow(0 0 2vw white);
    }
    
}

.topbar{
    width: 100%;
    height: 5vw;
    position: absolute;
    top: 0;
    background: url(../Images/HomePageImages/BackgoundTopbarHomePage.jpg) no-repeat center;
    background-size: cover;
}

.topbar h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    font-family: "El Messiri";
    font-size: 4vw;
    font-weight: bold;
    color: goldenrod;
    -webkit-text-stroke: 0.05vw black;
}

.sideDecorationLeft{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow( 0 0 0.3vw black);
    transform: scaleX(-1);
    z-index: 20;
}

.sideDecorationRight{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow( 0 0 0.3vw black);
    z-index: 20;
}

.transitionButton{
    position: absolute;
    top: 50%;
    left: 45%;
}