.pageConfederationOfTribes{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../Images/ConfederationImages/BackgroundPageConfederation.jpg) no-repeat;
    background-size: cover;
}

.pageKingdomInmar{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../Images/InmarImages/BackgroundPageInmar.jpg) no-repeat;
    background-size: cover;
}

.pageHumanRaces{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../Images/InmarImages/BackgroundPageHuman.jpg) no-repeat;
    background-size: cover;
}

.overlayTopbar{
    width: 100%;
    height: 5.5vw;
    position: absolute;
    top: 0;
    background-color: rgba(72, 72, 72, 0.6);
    background-image: 
        linear-gradient(225deg, rgba(72, 72, 72, 0.6) 0%,
                                rgba(160, 160, 160, 0.6) 20%, 
                                rgba(72, 72, 72, 0.6) 40%, 
                                rgba(160, 160, 160, 0.6) 60%, 
                                rgba(72, 72, 72, 0.6) 80%, 
                                rgba(160, 160, 160, 0.6) 100%);
}

.topbar{
    width: 100%;
    height: 5vw;
    position: absolute;
    top: 0;
    background: url(../Images/HomePageImages/BackgoundTopbarHomePage.jpg) no-repeat center;
    background-size: cover;
}

.topbar h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    font-family: "El Messiri";
    font-size: 4vw;
    font-weight: bold;
    color: goldenrod;
    -webkit-text-stroke: 0.05vw black;
}

.sideDecorationLeft{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow( 0 0 0.3vw black);
    transform: scaleX(-1);
    z-index: 20;
}

.sideDecorationRight{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow( 0 0 0.3vw black);
    z-index: 20;
}

.transitionButton{
    position: absolute;
    top: 50%;
    left: 45%;
}